# For the PostgreSQL database
PORT=3000
DATABASE_URL=postgres://user:password@localhost:5432/google_ads_webhook

# For authenticating Authorize.Net Webhooks
AUTHNET_SIGNATURE_KEY=your_authorizenet_signature_key

# Only needed for configuring Webhooks
AUTHNET_LOGIN_ID=
AUTHNET_TRANSACTION_KEY=

GOOGLE_ADS_DEVELOPER_TOKEN=your_developer_token
GOOGLE_ADS_CLIENT_ID=your_oauth_client_id
GOOGLE_ADS_CLIENT_SECRET=your_oauth_client_secret
GOOGLE_ADS_REFRESH_TOKEN=your_mcc_refresh_token

SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=you@example.com
SMTP_PASS=your_smtp_password
ERROR_EMAIL_TO=alerts@example.com

# For WordPress PHP to authenticate with this Rest API
GCLID_MAPPING_API_KEY=secret_api_key